In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
from datetime import datetime
import calendar
from math import sin, cos, sqrt, atan2, radians
from folium import FeatureGroup, LayerControl, Map, Marker
from folium.plugins import HeatMap
import matplotlib.dates as mdates
import matplotlib as mpl
from datetime import timedelta
import datetime as dt
warnings.filterwarnings('ignore')

pd.set_option('display.max_colwidth', -1)
plt.style.use('fivethirtyeight')
import folium
from sklearn.cluster import KMeans
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer
from sklearn import linear_model
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from numpy import math
import pickle
from sklearn.metrics import r2_score

In [2]:
# Mounting the drive first

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Reading and viewing the csv file.

df = pd.read_csv('/content/drive/My Drive/Projects/NEW_PROJ/YesBank_StockPrices.csv')

#Also making a copy of dataset so to avoid any data losses
df1 = df.copy()

In [4]:
df1.head()

     Date   Open   High    Low  Close
0  Jul-05  13.00  14.00  11.25  12.46
1  Aug-05  12.58  14.88  12.55  13.42
2  Sep-05  13.48  14.87  12.27  13.30
3  Oct-05  13.20  14.47  12.40  12.99
4  Nov-05  13.35  13.88  12.88  13.41

In [5]:
df1.shape

(185, 5)

In [7]:
df1.columns

Index(['Date', 'Open', 'High', 'Low', 'Close'], dtype='object')

In [8]:
df1.describe()

             Open        High         Low       Close
count  185.000000  185.000000  185.000000  185.000000
mean   105.541405  116.104324  94.947838   105.204703
std    98.879850   106.333497  91.219415   98.583153
min    10.000000   11.240000   5.550000    9.980000
25%    33.800000   36.140000   28.510000   33.450000
50%    62.980000   72.550000   58.000000   62.540000
75%    153.000000  169.190000  138.350000  153.300000
max    369.950000  404.000000  345.500000  367.900000

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    185 non-null    object
 1   Open    185 non-null    float64
 2   High    185 non-null    float64
 3   Low     185 non-null    float64
 4   Close   185 non-null    float64
dtypes: float64(4), object(1)
memory usage: 7.4+ KB

In [10]:
df1.isnull().sum()

Date     0
Open     0
High     0
Low      0
Close    0
dtype: int64

In [11]:
df1.nunique()

Date     185
Open     183
High     184
Low      183
Close    185
dtype: int64

In [14]:
df1["Date"]=pd.to_datetime(df1["Date"], errors = 'coerce')

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    0 non-null      datetime64[ns]
 1   Open    185 non-null    float64
 2   High    185 non-null    float64
 3   Low     185 non-null    float64
 4   Close   185 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 7.4 KB